.main {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    background-color: var(--primary-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
/* header notify*/
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* search */
.header__search {
    margin-left: 20px;
    flex: 1;
    border-radius: 2px;
    height: 40px;
    width: 400px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #0eaa00;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* Search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(187, 187, 187);
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}
/* end search */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% -20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color:var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color:var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}
/* end header notify */

/* header user */
.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.8rem;
    font-weight: 400;
}

.header__navbar-user:hover 
.header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 27px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
background-color: #fafafa;
}
/* end header user */

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-icon-link, 
.header__navbar-item-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item:first-child  .header__sort-link::before {
    display: none;
}

/* header__menu */
.header__menu-img {
    width: 28px;
    height: 28px;
    display: none;
    margin-left: 8px;
    background-repeat: no-repeat;
}

.header__menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 2;
    animation: fadeIn linear 0.2s;
}

.header__menu-mobile {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc(100% - 40%);
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.header__menu-close-img {
    height: 20px;
    width: 20px;
    top: 1rem;
    right: 1rem;
    position: absolute;
    cursor: pointer;
}
/* 
.header__menu-list {
    padding-left: 20px;
} */

.header__menu-item {
    position: relative;
    width: 100%;
    display: block;
    padding: 20px 20px;
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__menu-item:first-child::before {
    display: none;
}

.header__menu-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;  
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.header__menu-check {
    display: none;
}

.header__menu-check:checked ~ .header__menu-overlay {
    display: block;
}

.header__menu-check:checked ~ .header__menu-mobile {
    transform: translateX(0);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

/* Authen modal */
.auth-form {
    /* z-index: 10; */
    max-width: 100%;
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 10px 32px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-family: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--moved-color);
    cursor: pointer;
} 

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--boder-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    /* color: var(--primary-color); */
    text-decoration: none; 
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -1px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* ccs Tìm gia sư */
.tutors {
    max-width: 100%;
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.tutors__container {
    padding: 0 32px;
}

.tutors__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin-top: 12px;
}

.tutors__heading {
    font-size: 2.2rem;
    font-family: 400;
    color: var(--text-color);
}

.tutors__label {
    display: block;
    font-size: 15px;
}

.tutors__input {
    width: 100%;
    height: 40px;
    margin: 8px 0 16px ;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--boder-color);
    outline: none;
}

.tutors__input:focus {
    border-color: #888;
}

.tutors__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    padding-bottom: 24px;
}

.tutors__controls-back {
    margin-right: 8px;
}

/*  css chatboxx */
/* Nút Để Mở Chatbox */
.container__boxchat-open {
    background-color: #fff;
    color: white;
    padding: 2px 2px;
    border: 1px solid var(--white-color);
    cursor: pointer;
    opacity: 0.9;
    position: fixed;
    bottom: 24px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%  ;
}

.container__boxchat-icon {
    color: blue;
    font-size: 40px;
}

/* Ẩn chatbox mặc định */
.container__boxchat-body {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid #ccc;
    z-index: 9;
    border-radius: 4px;
}

/* Thêm style cho form */
.container__boxchat-form {
    width: 300px;
    max-width: 100%;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
}

.container__boxchat-heading {
    font-size: 2.2rem;
    font-family: 400;
    color: var(--text-color);
    text-align: center;
}

/* thiết lập style textarea */
.container__boxchat-form textarea {
    width: 100%;
    min-height: 200px;
    /* width: 200px; */
    /* height: 200px;
    width: 200px;
    max-height: 100%; */
    font-size: 1.6rem;
    margin: 10px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
}

/*thiết lập style cho textarea khi được focus */
.container__boxchat-form textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Thiết lập style cho nút trong form*/
.container__boxchat-form .boxchat__btn {
    background-color: #008B47;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 2px ;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
    font-size: 1.8rem;
}

/* Thiết lập màu nền cho nút đóng chatbox */
.container__boxchat-form 
.container__boxchat-close {
    background-color: #ee4d2d;
}

/* Thêm hiệu ứng hover cho nút*/
.container__boxchat-form 
.boxchat__btn:hover, 
.container__chatbox:hover {
    opacity: 0.9;
}
/* end chatboxx */

/* App container */
.app__container {
    background-color: #f5f5f5;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
}

.header__logo-img {
    width: calc(100% - 10px);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.header__logo-name {
    text-align: center;
    margin: 10px 5px ;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    margin-top: 0;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 16px 16px 0;
    text-transform: uppercase;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;  
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 8px 20px;
    display: block;
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Home */
.home-filter {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn  {
    background-color: var(--white-color);
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-curent {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;  
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Home Product item */
.home-product__header {
    text-align: center;
    padding: 12px 0;
    color: #cfd1e9;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background: var(--primary-color);
    height: 40px;
    box-shadow: 5px 5px 5px #666;
}


.home-product__text {
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: justify;
    text-indent: 4rem;
    line-height: 1.6;
    font-weight: normal;
}

.home-product {
    /* padding: 34px 10px 0 10px; */
    padding: 0 16px;
}

.home-product-item {
    display: block;
    position: relative;
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: trasform linear 0.1s;
    will-change: trasf;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    width: 100%; 
    /* font-size: 15px;
    display: block; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-link {
    /* display: block; */
    /* margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    border-style: inset; */
    border-width: 0;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-curent {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like-icon-fill {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked
.home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked
.home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: #ffce3e;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {
    margin-right:auto  ;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span {
    color: var(--white-color);
}
.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3rem;
    position: relative;
    top: 2px;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* footer */
.footer { 
    padding: 24px;
    border-top: 4px solid var(--primary-color);
    padding-top: 16px; 
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__content {
    padding-left: 100px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--boder-color);
}


.footer__download-app {
    flex: 1;
    /* margin-left: 16px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {
    height: 20px;
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
    display: block;
    /* padding: 6px 8px; */
    padding: 6px 0;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}


/* notify */
/* css temp1 */
.app__temp-header {
    display: block;
    padding: 8px 100px;
}

.home-product__temp {
    font-size: 1.8rem;
    color: var(--white-color);
}

.app__temp {
    padding-top: 70px;
    background-color: #f5f5f5;
    height: 700px;
    
}

.app__temp-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app__temp-heading {
    padding-top: 10px;
    font-size: 2rem;
    display: flex   ;
    justify-content: center; 
}

/* .app__temp-heading:first-child  */

.app__temp-content {
    margin-top: 10px;
    height: 40px;
    width: 1000px;
    border: 1px solid;
    background-color: var(--white-color);
}


.app__temp-footer {
    height: 200px;
    width: 1000px;
    border: 1px solid;
    background-color: #ccc;
    display: flex   ;
    justify-content: center; 
    align-items: center;
}

.app__temp-btn {
    margin-top: 10px;
    background-color:   var(--moved-color);
    color: var(--white-color);
    font-size: 1.8rem;
}
