/* Tablet & mobile */
@media (max-width:  1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    /* .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    } */
    .header__menu-img {
        display: block;
        z-index: 2;
    }
    .header__sort-bar {
        display: flex;
    }
    /* body */
    .app__container {
        margin-top: 90px;
    }
    .home-product {
        padding: 14px 10px;
    }
    /* footer */
    .home-product__pagination {
        margin: 4px 0 24px 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px)  {
    .hide-on-tablet {
        display: none;
    }
    .header__logo-img {
        width: calc(40% - 10px);
    }
    .footer__content {
        padding: 0;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }    
    .app__content {
        overflow: hidden;
    }
    .header__logo-img {
        width: calc(50% - 10px);
    }
    /* body */
    .auth-form__socials-title{
        padding: 0;
        margin: 0 4px;
    }
    /* footer */
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        --height:28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .footer__content {
        padding: 0 16px;
    }
    /* .footer-item__link {
        justify-content: center;
    }
    .footer__download,
    .footer__heading {
        text-align: center;
    } */

    .footer__content {
        padding-left: 50px;
        padding-right: 0;
    }
}